@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    border: 0;
}


/* Inicio Menu */

#cssmenu{
    clear: both;
    background: url('../img/menu/bg.png') no-repeat;
    width: 960px;
    height: 48px;
    margin: 8px 0px 10px 0px;
    font: 12px/2 'lucida grande',tahoma,verdana,arial,sans-serif;
    text-transform:uppercase;
    white-space: nowrap;
    text-align: left;
}
#cssmenu ul{
    height:48px;
    list-style:none;
    padding: 0 10px;
}
#cssmenu>ul>li>ul {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
#cssmenu li{
    float:left;
 
}
#cssmenu .active {
    background: #F58414;
    height: 40px;
    margin-top: 5px;

}
#cssmenu>ul .active {
    -moz-border-radius: 10px 10px 0 0; 
    -webkit-border-radius: 10px 10px 0 0; 
    border-radius: 10px 10px 0 0;
}
#cssmenu .active a{
    margin-top: 8px;
    display: block;
    text-shadow: 1px 1px #000000;
}

#cssmenu li a{
    color:#ffffff;
    display:block;
    margin:15px 15px;
    text-decoration:none;
    white-space: pre-wrap;
}

#cssmenu li ul{
    background:#F3F3F3; 
    background: #F58634;
    zoom: 1;
    filter: alpha(opacity=95);
    opacity: 0.95;
    z-index: 9999; 
    position: absolute;
    left: -999em; 
    height: auto; 
    margin: -3px 0 0 0px; 
    padding: 0; 
    border:0px;
    width: 200px;
    
    -webkit-box-shadow: #333333 2px 2px 10px;
    -moz-box-shadow: #333333 2px 2px 10px;
    box-shadow: #333333 2px 2px 10px;
    


}

#cssmenu li li a, #cssmenu li li a:link, #cssmenu li li a:visited { 
    min-width: 180px; 
    color: #FFF; 
    display: block;  
    padding: 10px;
    margin: 0; 
    text-decoration: none; 
    z-index:9999; 
} 

#cssmenu li ul ul { 
    margin: -25px 0 0 181px; 
} 

#cssmenu li li a:hover, #cssmenu li li a:active { 
    background: #fd9947; 
    color: #FFF;
    display: block; 
    margin: 0; 
    text-shadow: 1px 1px #000000;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    text-decoration: none; 
}

#cssmenu li:hover ul ul, #cssmenu li:hover ul ul ul, #cssmenu li.sfhover ul ul, #cssmenu li.sfhover ul ul ul { 
    left: -999em; 
} 
#cssmenu li:hover ul, #cssmenu li li:hover ul, #cssmenu li li li:hover ul, #cssmenu li.sfhover ul, #cssmenu li li.sfhover ul, #cssmenu li li li.sfhover ul { 
    left: auto; 
} 
#cssmenu li:hover, #cssmenu li.sfhover { 
    position: static; 
} 

#cssmenu p{
    clear:left;
}	



/* Fim Menu */				

